@use '@lazycuh/web-ui-common' as lc;

.cloudy-clip {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    min-height: 100%;
    overflow: hidden auto;

    main {
        min-height: 100%;
    }
}
