<h2 i18n>Refund policy</h2>

<p i18n>
    Thank you for choosing
    <span
        class="text-with-gradient-background"
        style="display: inline-block">
        Cloudy Clip
    </span>
    for your trade journaling needs. We are committed to providing you with a high-quality service that meets your
    expectations. This refund policy outlines our guidelines for refunds and cancellations.
</p>

<section>
    <h3 i18n>Subscription term and cancellation</h3>
    <ul>
        <li i18n>
            <strong>Subscription term:</strong>
            Your subscription will automatically renew at the end of each billing cycle unless you cancel.
        </li>
        <li i18n>
            <strong>Cancellation:</strong>
            To cancel your subscription, please navigate to the <a routerLink="/my/subscription">Subscription</a> page
            in your user dashboard. From there, you can easily cancel your subscription at any time.

            <strong style="font-weight: 500">
                However, please note that our abuse prevention procedures only allow you to cancel your subscription at
                least 7 days after the initial payment date.
            </strong>
        </li>
        <li i18n>
            <strong>Cancellation effective date:</strong>
            Your cancellation will be effective immediately and your access to features will be terminated right away.
        </li>
    </ul>
</section>

<section>
    <h3 i18n>Our refund policy</h3>
    <ul>
        <li i18n>
            <strong>Prorated refund:</strong>
            A refund for any unused time on your subscription until the end of your billing cycle will be issued back to
            the original payment method within 5-10 business days.
        </li>
        <li i18n>
            <strong>No refunds for past billing cycles:</strong>
            Refunds will not be issued for past billing cycles, even if you were dissatisfied with the service during
            those periods.
        </li>
        <li i18n>
            <strong>Exceptions:</strong>
            In rare cases, we may consider issuing a full refund if there are significant technical issues that prevent
            you from using the service effectively.
        </li>
    </ul>
</section>

<section>
    <h3 i18n>Additional considerations</h3>
    <ul>
        <li i18n>
            <strong>No free trials:</strong>
            Our service does not offer free trials. If you have subscribed to a paid plan, your subscription will
            continue until the subscription is canceled.
        </li>

        <li i18n>
            <strong>Recurring charges:</strong>
            Please be aware that your subscription will automatically renew unless you cancel. You may adjust your
            payment method or billing frequency at any time.
        </li>
    </ul>
</section>

<section>
    <h3 i18n>Contact information</h3>

    <p i18n>If you have any questions or concerns regarding this refund policy, please contact us at:</p>

    <address>
        <a
            target="_blank"
            [href]="_supportEmailLink">
            heretohelp&#64;cloudyclip.com
        </a>
    </address>
</section>

<br />
<br />
<p i18n>
    <strong>We appreciate your understanding and cooperation!</strong>
</p>
