.password-reset-verification {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.password-reset-verification__form-container {
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(20px);
    min-height: 550px;
    max-height: 550px;

    .carousel-item {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        &:first-child {
            padding: 60px 25px;
        }
    }

    .lc-form {
        width: 400px;
    }
}

@media (max-width: 530px) {
    .password-reset-verification {
        .progress-complete-indicator {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
