<lc-focus-box
    class="password-reset-verification__form-container"
    [@focusBox]>
    <lc-carousel>
        <lc-carousel-item>
            <lc-form
                formTitle="Enter new password"
                i18n-formTitle
                [form]="_form"
                (submitForm)="_resetPassword($event)">
                <lc-password-form-field
                    autocomplete="current-password"
                    label="New password"
                    i18n-label
                    [control]="_findFormControl('password')"
                    [showPasswordRules]="true" />

                <lc-turnstile-form-field
                    action="password-reset-verification"
                    [control]="_findFormControl('turnstile')" />

                <lc-action-container>
                    <button
                        aria-label="Clear form"
                        i18n-aria-label
                        class="lc-button lc-accent"
                        i18n
                        mat-ripple
                        type="button"
                        [disabled]="_shouldDisableClearButton()"
                        (click)="_clearForm()">
                        Clear
                    </button>

                    <button
                        aria-label="Submit form to reset password"
                        i18n-aria-label
                        class="lc-filled-button lc-primary"
                        mat-ripple
                        type="submit"
                        [disabled]="_shouldDisableSubmitButton()">
                        <lc-pulse-loader
                            i18n
                            [pulsing]="_isPasswordChangeRequestInProgress()">
                            Submit
                        </lc-pulse-loader>
                    </button>
                </lc-action-container>
            </lc-form>
        </lc-carousel-item>

        <lc-carousel-item>
            @switch (_passwordResetResultMessage()) {
                @case ('') {
                    <lc-progress-complete-indicator
                        [animated]="true"
                        [success]="true">
                        <p
                            data-title
                            i18n>
                            Your password has been successfully reset
                        </p>

                        <a
                            class="lc-filled-button lc-primary"
                            data-action
                            i18n
                            mat-ripple
                            routerLink="/login">
                            Continue to login
                        </a>
                    </lc-progress-complete-indicator>
                }

                @case ('verification code is not valid') {
                    <lc-progress-complete-indicator
                        [animated]="true"
                        [success]="false">
                        <p
                            data-title
                            i18n>
                            Password reset code is not valid
                        </p>

                        <p
                            data-description
                            i18n>
                            Please ensure that your verification link has not expired.
                        </p>

                        <a
                            class="lc-filled-button lc-primary"
                            data-action
                            i18n
                            mat-ripple
                            routerLink="/login">
                            Return to login
                        </a>
                    </lc-progress-complete-indicator>
                }

                @case ('verification code does not exist') {
                    <lc-progress-complete-indicator
                        [animated]="true"
                        [success]="false">
                        <p
                            data-title
                            i18n>
                            Password reset code is not valid
                        </p>

                        <p
                            data-description
                            i18n>
                            Please ensure that your verification link has not expired.
                        </p>

                        <a
                            class="lc-filled-button lc-primary"
                            data-action
                            i18n
                            mat-ripple
                            routerLink="/login">
                            Return to login
                        </a>
                    </lc-progress-complete-indicator>
                }

                @case ('verification code is required') {
                    <lc-progress-complete-indicator
                        [animated]="true"
                        [success]="false">
                        <p
                            data-title
                            i18n>
                            Password reset code is missing or empty
                        </p>

                        <p
                            data-description
                            i18n>
                            Please use the supplied verification link that was sent to your email.
                        </p>

                        <a
                            class="lc-filled-button lc-primary"
                            data-action
                            i18n
                            mat-ripple
                            routerLink="/login">
                            Return to login
                        </a>
                    </lc-progress-complete-indicator>
                }

                @default {
                    <lc-progress-complete-indicator
                        [animated]="true"
                        [success]="false">
                        <p
                            data-title
                            i18n>
                            An unknown error has occurred while processing your request
                        </p>

                        <p
                            data-description
                            i18n>
                            Please try again later.
                        </p>

                        <a
                            class="lc-filled-button lc-primary"
                            data-action
                            i18n
                            mat-ripple
                            routerLink="/login">
                            Return to login
                        </a>
                    </lc-progress-complete-indicator>
                }
            }
        </lc-carousel-item>
    </lc-carousel>
</lc-focus-box>
