<lc-progress-complete-indicator
    [animated]="true"
    [success]="false">
    <p
        data-title
        i18n>
        No record of your subscription was found
    </p>

    <p
        data-description
        i18n>
        If it is a mistake, please let us know.
    </p>

    <lc-action-container
        data-action
        layout="column">
        <a
            class="lc-filled-button lc-primary"
            i18n
            mat-ripple
            target="_blank"
            [href]="_resolveMailtoHref()">
            Contact us
        </a>

        <a
            class="lc-filled-button lc-primary"
            i18n
            mat-ripple
            routerLink="/pricing">
            Explore plans
        </a>
    </lc-action-container>
</lc-progress-complete-indicator>
