.password-reset-request {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-shrink: 0;
    top: 60px;
}

.password-reset-request__form-container {
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(-5%);

    .carousel-item {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        &:first-child {
            padding: 40px 36px;
        }
    }

    .back-button {
        align-self: flex-start;
        margin-top: -20px;
        margin-bottom: 40px;
    }
}

@media (max-width: 565px) {
    .password-reset-request {
        .carousel-item:last-child .progress-complete-indicator {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media (max-width: 470px) {
    .password-reset-request {
        .carousel-item:first-child {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

// @media (max-width: 430px) {
//     .password-reset-request {
//         .carousel-item:first-of-type {
//             padding-left: 20px;
//             padding-right: 20px;
//         }

//         .back-button {
//             margin-left: -12px;
//         }
//     }
// }
