<lc-focus-box
    class="password-reset-request__form-container"
    [@focusBox]>
    <lc-carousel>
        <lc-carousel-item>
            <lc-back-button
                i18n
                [shouldShowConfirmation]="_form.dirty">
                Return to login
            </lc-back-button>

            <lc-form
                formTitle="Reset password"
                i18n-formTitle
                [form]="_form"
                (submitForm)="_onSubmit($event)">
                <lc-short-text-form-field
                    autocomplete="email"
                    label="Email"
                    i18n-label
                    type="email"
                    [control]="_findFormControl('email')">
                    <svg:path
                        d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm640-480L501-453q-5 3-10.5 4.5T480-447q-5 0-10.5-1.5T459-453L160-640v400h640v-400ZM480-520l320-200H160l320 200ZM160-640v10-59 1-32 32-.5 58.5-10 400-400Z" />
                </lc-short-text-form-field>

                <lc-turnstile-form-field
                    action="password-reset-request"
                    [control]="_findFormControl('turnstile')" />

                <lc-action-container>
                    <button
                        aria-label="Clear password reset request form"
                        i18n-aria-label
                        class="lc-button lc-accent"
                        i18n
                        mat-ripple
                        type="button"
                        [disabled]="_shouldDisableClearButton()"
                        (click)="_onClearForm()">
                        Clear
                    </button>

                    <button
                        aria-label="Submit form to send password reset request"
                        i18n-aria-label
                        class="lc-filled-button lc-primary"
                        mat-ripple
                        type="submit"
                        [disabled]="_shouldDisableSubmitButton()">
                        <lc-pulse-loader
                            i18n
                            [pulsing]="_isPasswordResetRequestInProgress()">
                            Submit
                        </lc-pulse-loader>
                    </button>
                </lc-action-container>
            </lc-form>
        </lc-carousel-item>

        <lc-carousel-item [lazy]="true">
            <ng-template>
                @if (_isPasswordResetRequestCreated()) {
                    <lc-progress-complete-indicator
                        [animated]="true"
                        [success]="true">
                        <p
                            data-title
                            i18n>
                            Your password reset request has been created
                        </p>

                        <p
                            data-description
                            i18n>
                            Please check your email for further instructions.
                        </p>

                        <a
                            class="lc-filled-button lc-primary"
                            data-action
                            i18n
                            mat-ripple
                            routerLink="/login">
                            Continue to login
                        </a>
                    </lc-progress-complete-indicator>
                } @else {
                    <lc-progress-complete-indicator
                        [animated]="true"
                        [success]="false">
                        <p
                            data-title
                            i18n>
                            An unknown error has occurred while processing your request.
                        </p>

                        <p
                            data-description
                            i18n>
                            Please try again later or contact the administrator.
                        </p>

                        <a
                            class="lc-filled-button lc-primary"
                            data-action
                            i18n
                            mat-ripple
                            routerLink="/login">
                            Return to login
                        </a>
                    </lc-progress-complete-indicator>
                }
            </ng-template>
        </lc-carousel-item>
    </lc-carousel>
</lc-focus-box>
