@use '../../index';

.lc-button-toggle {
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 125px;
    border-radius: 50px;
    transition: index.transition(color);

    &.is-selected {
        color: #000;
    }

    button {
        width: 100%;
        height: 100%;
        color: inherit;
    }
}
