@use '../../index';

.indeterminate-progress {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: index.transition(opacity), index.transition(visibility);

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
}

.indeterminate-progress__backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.indeterminate-progress__bar {
    position: absolute !important;
    top: 0;
}
