.action-container:not(:empty) {
    position: relative;
    display: flex;
    margin-bottom: 16px;

    & > * {
        flex-shrink: 0;
    }

    &.layout--row {
        justify-content: center;

        & > *:not(:first-child) {
            margin-left: 8px;
        }
    }

    &.layout--column {
        flex-flow: column;

        & > *:not(:last-child) {
            margin-bottom: 12px;
        }
    }
}
