@use '../../index';

.password-form-field {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 100%;
    margin-bottom: 50px;

    &.show-password-rules .error-indicator {
        display: none;
    }

    .form-field {
        margin-bottom: 5px;
    }
}

.password-form-field__rule-list {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: 15px;
        line-height: 1.75rem;
        display: flex;
        align-items: center;
        opacity: 0.7;
        color: #fff;
        transition: index.transition(opacity);

        &.has-error {
            color: index.$form-field-status-color--invalid;
            opacity: 1;

            &::before {
                display: none;
            }
        }

        &.is-valid {
            opacity: 1;

            &::before {
                display: none;
            }
        }

        p {
            color: inherit;
            display: inline-block;
            margin: 0;
        }
    }
}

.password-form-field__rule-list__rule-label {
    margin-left: 5px;
}
