<h2 i18n>Privacy Policy</h2>

<p i18n>
    <span class="text-with-gradient-background">Cloudy Clip</span> is committed to protecting your privacy. This
    Privacy Policy explains how we collect, use, and disclose your personal information when you use our application.
</p>

<section>
    <h3 i18n>Information we collect</h3>

    <ul>
        <li i18n>
            <strong>Personal information:</strong>

            When you create an account or use our application, we may collect your <strong>email address</strong> and
            <strong>real name</strong> (if provided).
        </li>
        <li i18n>
            <strong>Usage data:</strong>

            We may collect information about how you use our application, such as the pages you visit, the features you
            use, and the time you spend on our platform.
        </li>
        <li i18n>
            <strong>Device information:</strong>

            We may collect information about the device you use to access our application, such as your IP address,
            device type, operating system, and browser type.
        </li>
    </ul>
</section>

<section>
    <h3 i18n>How we use your information</h3>

    <p>We use the collected information for the following purposes:</p>

    <ul>
        <li i18n>
            <strong>To provide our services:</strong>

            We use your information to provide and maintain our application, process your transactions, and respond to
            your inquiries.
        </li>

        <li i18n>
            <strong>To improve our services:</strong>

            We may use your information to analyze how our application is used, identify trends, and improve our
            features and services.
        </li>

        <li i18n>
            <strong>To communicate with you:</strong>

            We may use your information to send you notifications, updates, and marketing communications.
        </li>

        <li i18n>
            <strong>Security and fraud prevention:</strong>

            To detect and prevent fraudulent activities and ensure the security of the application.
        </li>
    </ul>
</section>

<section>
    <h3 i18n>How we share your information</h3>

    <p i18n>We may share your information with:</p>

    <ul>
        <li i18n>
            <strong>Third-party service providers:</strong>

            We may share your information with third-party service providers who help us operate our application, such
            as payment processors, data analytics providers, and customer support providers.
        </li>

        <li i18n>
            <strong>Legal authorities:</strong>

            We may share your information with law enforcement or other legal authorities if required to do so by law or
            in response to a valid legal request, such as a court order or subpoena, or to protect our rights or the
            rights of others.
        </li>

        <li i18n>
            <strong>Business transfers:</strong>

            In the event of a merger, acquisition, or sale of all or a portion of our assets, your information may be
            transferred to the acquiring entity.
        </li>
    </ul>

    <p i18n>
        We do not share your personal data with third parties for their direct marketing purposes without your explicit
        consent.
    </p>
</section>

<section>
    <h3 i18n>Payment processing</h3>

    <p i18n>
        We use Stripe for payments, analytics, and other business services. Stripe may collect personal data including
        via cookies and similar technologies. The personal data Stripe collects may include transactional data and
        identifying information about devices that connect to its services. Stripe uses this information to operate and
        improve the services it provides to us, including for fraud detection, loss prevention, authentication, and
        analytics related to the performance of its services. You can learn more about Stripe and read its privacy
        policy at
        <a
            href="https://stripe.com/privacy"
            target="_blank">
            https://stripe.com/privacy </a
        >.
    </p>
</section>

<section>
    <h3 i18n>Data security</h3>

    <p i18n>
        We implement reasonable and appropriate security measures to protect your personal information from unauthorized
        access, use, alteration, or destruction. These measures include encryption of data in transit and at rest,
        secure server infrastructure, and access controls. However, no method of transmission over the internet or
        method of electronic storage is completely secure, and we cannot guarantee its absolute security.
    </p>

    <p i18n>
        You are responsible for maintaining the confidentiality of your account credentials and for any activity that
        occurs under your account. Please notify us immediately of any unauthorized access or use of your account.
    </p>
</section>

<section>
    <h3 i18n>Your rights:</h3>

    <p i18n>You may have the right to:</p>

    <ul>
        <li i18n>
            <strong>Access:</strong>

            Request access to your personal information.
        </li>

        <li i18n>
            <strong>Rectification:</strong>

            Request that your personal information be corrected if it is inaccurate.
        </li>

        <li i18n>
            <strong>Erasure:</strong>

            Request that your personal information be deleted.
        </li>

        <li i18n>
            <strong>Restriction:</strong>

            Request that the processing of your personal information be restricted.
        </li>

        <li i18n>
            <strong>Object:</strong>

            Object to the processing of your personal information.
        </li>

        <li i18n>
            <strong>Portability:</strong>

            Request that your personal information be transferred to another organization.
        </li>
    </ul>
</section>

<section>
    <h3 i18n>Changes to this privacy policy</h3>

    <p i18n>
        We may update this Privacy Policy from time to time to reflect changes in our data practices or applicable laws.
        We will notify you of any material changes by posting the updated policy within the application or by other
        means, such as email.
    </p>
</section>

<section>
    <h3 i18n>Contact us</h3>

    <p i18n>If you have any questions about this Privacy Policy or our data practices, please contact us at:</p>

    <address>
        <a
            target="_blank"
            [href]="_supportEmailLink">
            heretohelp&commat;cloudyclip.com
        </a>
    </address>

    <br />
    <p>We are committed to addressing your inquiries and resolving any concerns you may have.</p>
</section>

<section>
    <h3 i18n>Effective date</h3>

    <p>
        <ng-container i18n>This Privacy Policy is effective as of</ng-container>
        <time
            datetime="2024-09-01"
            i18n>
            September 01, 2024.
        </time>
    </p>
</section>
